<!DOCTYPE html>
<html>
<head>
	<title>SNinawe</title>
	<link rel="shortcut icon" href="./img/favicon.ico" />
	<link rel="stylesheet" href="./css/style.css" charset="UTF-8">
	<link rel="stylesheet" href="./css/mediastyle1.css" charset="UTF-8">
	<script src="./js/angular1.5.5.js" charset="UTF-8"></script>
	<script src="./js/jquery2.2.2.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="./js/client.js" charset="UTF-8"></script>
	<script type="text/javascript" src="./js/essentials.js" charset="UTF-8"></script>
</head>
<body ng-app="app">
	<div class="arrivalContainer" ng-controller="mainController">
		<div class="pad" ng-model="a" ng-click="addToPin('a')">A</div>
		<div class="pad" ng-model="b" ng-click="addToPin('b')">B</div>
		<div class="pad" ng-model="c" ng-click="addToPin('c')">C</div>
		<div class="pad" ng-model="d" ng-click="addToPin('d')">D</div><br></br><br></br>
		<input type="text" name="" ng-model="arrivalPin.pin">
		<input type="button" name="send" value="Send" ng-click="arrivalToggle(arrivalPin.pin)"></input>
	</div>
</body>
</html>